@(postForm : Form[PostEntry])
@import helper._

@layout("Make Post")(true){
    <h1>Make Post</h1> <!-- , 'enctype -> "multipart/form-data" -->
    @helper.form(action = helper.CSRF(routes.BlogController.uploadPost), 'enctype -> "multipart/form-data") {
        @helper.inputText(postForm("title"), '_label -> "Title", 'class -> "form-control")
        @helper.inputFile(postForm("image"),'_label -> "The Amazing Picture", 'class -> "form-control-file border", 'accept ->".jpg, .png, .bmp", 'name -> "image")
        <div class = "row">
        <div class = "col-auto">@checkbox(postForm("sports"))</div>
        <div class = "col-auto">@checkbox(postForm("sports"))</div>
        </div>
        @helper.inputText(postForm("caption"),'_label -> "Caption", 'class -> "form-control")
        @helper.CSRF.formField
        <button class="btn btn-success" type="submit"> Make Post</button>
    }
}
